* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

td {
    text-align: center;
    vertical-align: baseline;
}

td p {
    vertical-align: middle;
}

table, tbody, thead, tr {
    width: 100%;
}

p {
    vertical-align: baseline;
    display: inline;
}

img {
    vertical-align: middle;
}

button {
    padding: 2px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

.key {
    width: 40%;
}

.value {
    width: 60%;
}

#weapon-render {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 230px;
    background-color: #000000;
}

.image-container {
    min-width: 450px;
    width: 100%;
    background-color: #000000;
}

#canvas-container {
    width: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:1px solid #000000;
    position: relative;
    display: inline-block;
}

.treeview-header {
    display: inline-block;
    border-radius: 0px;
    background-color: #eeeeee;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    box-shadow: none;
    outline: none;
}

.first {
    border-left-width: 0px;
}

.treeview-header:focus {
    border-color: #1111ff55;
}

.treeview-header:hover {
    border-color: #1111ff55;
    background-color: #1111ff55;
}

#treeview-container {
    min-width: 1001px;
    max-width: 1001px;
    border:1px solid #000000;
    display: flex;
    flex-direction: column;
}

canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}

#detailview-container {
    width: 100%;
    min-width: 450px;
    overflow-y: scroll;
}

#weapon-render {
    min-width: 230px;
}

#header-container {
    display: flex;
}

#toolbar-container {
    display: flex;
    direction: column;
}

#content {
    display: flex;
}

.sharpness {
    display: inline-block;
    border: 1px solid #000000;
    color: #000000;
    min-width: 20px;
}

.sharpness:focus {
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    box-shadow: none;
    border: 1px solid #000000;
    outline: none;
}

.hidden {
    display: none;
}

.red {
    background-color: #d92c2c;
}

.orange {
    background-color: #d9662c;
}

.yellow {
    background-color: #d9d12c;
}

.green {
    background-color: #70d92c;
}

.blue {
    background-color: #2c86d9;
}

.white {
    background-color: #f8f8f8;
}

.purple {
    background-color: #885aec;
}

.search {
    padding-left: 20px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    box-shadow: none;
    border: 1px solid #000000;
    outline: none;
    height: 32px;
    width: 100%;
}

.name {
    width: 80%;
}

.material {
    width: 20%;
}

#weapon-details-table,
#sharpness-container,
#create-weapon-materials-table,
#upgrade-weapon-materials-table {
    margin-bottom: 20px;
}

.table-heading td {
    text-emphasis: bold;
    background-color: #eeeeee;
    border: 1px solid #000000;
}